{% extends 'layout.html' %}
{% load static %}
{% block title %} Team Creation form {% endblock %}
<link rel="stylesheet" type="text/css" href="teamcreation.css">
<style type="text/css">
body{
            
  background-image: url('{% static "teamcreation.jpg" %}');text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
    }
</style>   
{% block content %}
  <h2>Team Creation Page </h2>
  <form action="/createteam/" method="post">  {% csrf_token %}
    <label for="usn1">USN 1 : </label>
    <input type="text" placeholder="Enter USN" id="usn1" name="usn1" required><br><br>

    <label for="usn2">USN 2 : </label>
    <input type="text" placeholder="Enter USN" id="usn2" name="usn2" required><br><br>

    <label for="usn3">USN 3 : </label>
    <input type="text" placeholder="Enter USN" id="usn3" name="usn3" required><br><br>

    

    <label for="title"><b>Name :</b> </label>
    <input type="text" placeholder="Enter Title" id="title" name="title" required><br><br>
  
    <button type="submit">create</button>
  </form>
{% endblock %}
