{% extends 'layout.html' %}
{% load static %}
{% block title %} Project Synopsis Upload {% endblock %}
  <style>
    body{
            
            background-image: url('{% static "uploadsynopsis.jpg" %}');text-align: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
              }
    h2{margin-bottom:10px;}
    form{
      background-color:lightblue;
      display:inline-block; 
      margin:20px;
      padding:20px;
      border:1px solid #566e8d;border-radius:5px;
  }
    button{
        background-color:lightblue;cursor:pointer;padding:5px 20px;
    }
</style>
{% block content %}

  <h1>Upload Synopsis</h1>
  <form method="post" enctype="multipart/form-data">

        {% for team in teams %}
        <p>Team ID:{{ team.t_id }}</p>
        {% endfor %}

 
    {% csrf_token %}
    {% for team in teams %}
    <input type=hidden name=tid value={{ team.t_id }}>
    {% endfor %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
 

  {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}" target="_blank">{{ uploaded_file_url }}</a></p>
  {% endif %}

  </form>
  {% endblock %}
