
{% extends 'layout.html' %}
{% load static %}
{% block title %} Weekly Progress Submission {% endblock %}
<style type="text/css">
  body{
              
    background-image: url('{% static "weeklyprogress.jpg" %}');text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
      }
  </style>   
{% block content %}
  <h1>Weekly Progress Submission</h1>

  <form method="post" action="/progress/">
    {% csrf_token %} 
    <div id="teamBoxes">
      <div class="team-box">
        Project ID: <select name="pid">
            {% for t in  projects %}
            {% for project in t %}
            <option value="{{project.p_id}}">{{project.p_id}}</option><br>
            {% endfor %}
            {% endfor %}   
        </select>
    <label for="week">Select Week:</label>
    <select id="week" name="week">
      
      <option value="1">week 1</option>
      <option value="2">week 2</option>
      <option value="3">week 3</option>
      <option value="4">week 4</option>
      <option value="5">week 5</option>
    </select>
    
    <label for="eventDate">Date:</label>
    <input type="date" id="eventDate" name="eventDate" required>
    <br><br>
    <label for="summary"><b>Weekly Progress summary:</b></label><br>
    <textarea id="summary" placeholder="Update the progress" name="summary" rows="4" cols="30"></textarea>
    <br><br>
    <button id="addButton" type="submit">Submit Progress</button> 

  <h2>Submissions</h2>
  <table border="1" align="center">
    <thead>
      <tr>
        <th>Week</th>
        <th>Date</th>
        <th>Progress</th>
      </tr>
    </thead>
    <tbody>
      {% if submissions %} 
      {% for s in submissions%}
       {% for submission in s %}
      <tr>
        <td>Week {{ submission.week_no }}</td>
        <td> {{ submission.date }}</td>
        <td>{{submission.summary}}</td>
      </tr>
      {% endfor %}
      {% endfor %}
      {% else %}
      <tr>
        <td colspan="2">No submissions yet.</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</form>
{% endblock %}